
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <app-menu-side></app-menu-side>
         <!-- TOP Nav Bar -->
         <app-menu-top></app-menu-top>
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
        <router-outlet>
            <app-livre></app-livre>
         </router-outlet>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
        <app-footer></app-footer>
      <!-- Footer END -->
     
   </body>

